<div class="bg">
  <div class="container top-center">
    <div class="title">
      <h1> Find a Course </h1>
    </div>

    <form action="/courses" method="GET">
      <div class="input-group mb-3">
        <input type="course" class="form-control" name="course" value="{{course.name}}">
      </div>
      <button class="btn btn-primary" type="submit">Filter</button>
    </form>

<<<<<<< HEAD
  </div>
</div>
=======
<form action="/courses" method="GET">
  <div>     
    <select name="course">
    {{#each courses}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
    </select>
    <button>Find</button>
  </div>
</form>

{{#if isUserLoggedIn}}
  <p> Hello, {{ currentUserInfo.name }}. </p>
{{/if}}

<nav>
  <ul>
    {{#if isUserLoggedIn}}
     <li> <a href="/user/settings"> User Settings </a> </li>
      {{!-- <li> <a href="/dashboard"> See Dashboard </a> </li> --}}
      <li> <a href="/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
>>>>>>> a06d0ca96bdd3794f2bc0dfd6527a270aad9f473

