<h3> User Settings </h3>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}
<a href="/user/{{user.id}}">user page</a>
<form action="/user/settings" method="post" enctype="multipart/form-data">
  <div>
    <label for="name"> Name: </label>
    <input type="name" name="name" value="{{user.name}}">
  </div>

  <div>
    <label for="email"> Email </label>
    <input type="email" name="email" value="{{user.email}}">
  </div>

  <div>
    <label for="linkedin"> LinkedIn </label>
    <input type="text" name="linkedin" value="{{user.linkedin}}">
  </div>

  <div>
    <label for="github"> GitHub </label>
    <input type="text" name="github" value="{{user.github}}">
  </div>

  <div>
    <label for="description"> Description </label>
    <textarea name="description" value="{{user.description}}" row='10' cols="40"></textarea>
  </div>
  
  <div>
    <label for="photo"> Profile photo </label>
    <img src="{{user.imgPath}}" alt="" width="10%">
    <input type="file" name="photo" value="{{user.imgName}}">
  </div>

{{#each user.course}}
  <div>
    <input type="checkbox" value="{{this.id}}" name="course" checked>
    <label for="course">{{this.name}}</label>
  </div>
{{/each}}
{{#each coursesOut }}
  <div>
    <input type="checkbox" value="{{this.id}}" name="course" >
    <label for="course">{{this.name}}</label>
  </div>
{{/each}}

  <button>Update</button>
</form>


  